<!DOCTYPE html>
<html>
<head><title>Login</title></head>
<body>
  <h1>Login</h1>
  <% if (typeof error !== 'undefined') { %><p style="color:red"><%= error %></p><% } %>
  <form method="post" action="/login">
    <label>User:</label>
    <input name="username" />
    <label>Password:</label>
    <input name="password" type="password" />
    <button type="submit">Login</button>
  </form>
</body>
</html>
